<hr>
<div class="row">
	<p class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 pull-left">&copy {{ year }} {{ organization }} all rights reserved</p>
	<p class="col-lg-4 col-md-4 col-sm-4 cmap-center-text"><a href="{{ terms_url }}">terms and conditions</a></p>
	<div class="col-lg-3 col-md-3 col-sm-3">
	{{#each logo_objects}}
		<a href="{{ url }}"><img class="pull-right cmap-footer-image" src="{{ logo }}"></a>
	{{/each}}
	</div>
</div>