<div class="cmap-header">

	<!-- large screens -->
	<div class="row hidden-xs">
		<div class="row">
			<div class="col-sm-12 cmap-header-toolbar">
				<div class="col-xs-9">
					<p id="cmapHeaderMenuButton" title="menu" class="cmap-header-link-no-border pull-left"><i class="fa fa-bars"></i>Menu</p>
					<!-- <a href="/"><img class="cmap-header-image pull-left" src="//cmap.github.io/cdn/img/logos/linscloud_logo_RGB_small-cloud-web.png"></a> -->
					<p id="cmapHeaderMenuAppName" title="menu" class="cmap-header-app-name pull-left">{{ title }}</p>
				</div>

				<div class="col-xs-3">
					{{#if user}}
						<div class="dropdown pull-right">
							<p id="username" title="profile" class="cmap-header-link-no-border data-toggle" data-toggle="dropdown">{{user}}<span class="caret"></span></p>
							<ul class="dropdown-menu" role="menu" aria-labelledby="username">
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings">settings</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="/signout">logout</a></li>
						  </ul>
						</div>
					{{else}}
						<p title="signout" class="cmap-header-link pull-right" onclick="window.location.href = '/start';">login</p>
					{{/if}}
				</div>
			</div>
		</div>
	</div>



	<!-- small screens -->
	<div class="row visible-xs">
		<div class="row">
		    <h3 class="col-sm-offset-1 col-sm-10 cmap-title-text cmap-center-text">{{ title }}</h3>
		</div>
		<div class="row">
			<p class="col-sm-offset-1 col-sm-10 text-muted cmap-subhead-text cmap-center-text">{{ subtitle }}</p>
		</div>
	</div>

	<!-- spacer -->
	<div class="cmap-spacer-large"></div>
</div>
