<a class="cmap-card-link" href="{{ url }}">
  <div id="{{ div_string }}" class="{{ span_class }}">
    <div class="col-xs-12" style="background-color: {{ fg_color }}">
        <div class="cmap-spacer-tiny"></div>
        <p class="hidden-xs cmap-center-text cmap-card-title-text">{{ title }}</p>
        <p class="visible-xs cmap-center-text cmap-card-title-text-small">{{ title }}</p>
        <div style="min-height:2px"></div>
      </div>

    <div class="col-xs-12 cmap-card">

        <img src="{{ image }}" class="col-xs-4 img-responsive" alt="">
        <h4 class="hidden-xs col-xs-8 cmap-card-subtitle-text text-muted">{{ subtitle }}</h4>
        <p class="visible-xs col-xs-8 cmap-card-subtitle-text-small text-muted">{{ subtitle }}</p>
        <div class="col-xs-12 cmap-spacer-tiny"></div>
    </div>
  </div>
</a>
