<div class="cmap-header">
	<div id="spacer" style="min-height:10px"></div>

	<!-- large screens -->
	<div class="row hidden-xs">
		<!-- logo and navigation buttons -->
		<div class="col-sm-offset-1 col-sm-3">

			<!-- logo -->
			<div class="row">
				<div class="col-xs-12">
					<a href="http://lincscloud.org/"><img class="cmap-header-image" src="http://coreyflynn.github.io/Bellhop/img/lincscloud_logo.png"></a>
				</div>
			</div>

			<div class="row">
				<div class="cmap-spacer-medium"></div>
			</div>

			<!-- navigation buttons -->
			<div class="row">
				<div class="col-sm-12">

					<!-- apps sub-list -->
					<i title="Apps" class="fa fa-th-large cmap-header-link" onclick="window.location.href = 'http://apps.lincscloud.org/app_list';">
			            <div class="cmap-header-dropdownContain">
			                <div class="cmap-header-dropOut cmap-header-apps">
			                    <i class="cmap-header-link  fa fa-search" style="opacity:0;"></i><br>
								<div class="cmap-header-dropOut-apps-container">
				                    <a href="//apps.lincscloud.org/query"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_Query.png" alt="" /></a>
									<a href="//apps.lincscloud.org/data_synopsis"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_Data_Synopsis.png" alt="" /></a><br>
									<a href="//apps.lincscloud.org/compound_digest"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_Compound_Digest.png" alt="" /></a>
									<a href="//apps.lincscloud.org/gene_digest"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_Gene_Digest.png" alt="" /></a><br>
									<a href="//apps.lincscloud.org/history"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_History.png" alt="" /></a><br>

								</div>
			                </div>
			            </div>
			        </i>

					<!-- developer tools sub-list -->
					<i title="Developer" class="fa fa-cogs cmap-header-link" onclick="window.location.href = 'http://developer.lincscloud.org/';">
						<div class="cmap-header-dropdownContain">
							<div class="cmap-header-dropOut cmap-header-developer">
								<i class="cmap-header-link  fa fa-cogs" style="opacity:0;"></i><br>
								<div class="cmap-header-dropOut-developer-container">
									<a href="//api.lincscloud.org"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_API.png" alt="" /></a>
									<a href="//c3.lincscloud.org"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_C3.png" alt="" /></a><br>
									<a href="//download.lincscloud.org"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_Download.png" alt="" /></a>
									<a href="//code.lincscloud.org"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_Code.png" alt="" /></a><br>
								</div>
							</div>
						</div>
					</i>

					<!-- projects sub-list -->
					<i title="Projects" class="fa fa-book cmap-header-link" onclick="window.location.href = 'http://projects.lincscloud.org/';">
						<div class="cmap-header-dropdownContain">
							<div class="cmap-header-dropOut cmap-header-projects">
								<i class="cmap-header-link  fa fa-cogs" style="opacity:0;"></i><br>
								<div class="cmap-header-dropOut-projects-container">
									<a href="//projects.lincscloud.org#LJP"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_LJP.png" alt="" /></a>
									<a href="//projects.lincscloud.org#LTC"><img src="http://coreyflynn.github.io/Bellhop/ai/header_dropout_icons_LTC.png" alt="" /></a><br>
								</div>
							</div>
						</div>
					</i>

					<!-- support -->
					<i title="Support" class="fa fa-question-circle cmap-header-link" onclick="window.location.href = '{{ support_link }}';"></i>
			    </div>
			</div>

		</div>

		<!-- app title and subtitle -->
		<div class="col-sm-4">
			<h3 class="col-xs-12 cmap-title-text cmap-center-text cmap-header-top-margin">{{ title }}</h3>
			<p class="col-xs-12 text-muted cmap-subhead-text cmap-center-text">{{ subtitle }}</p>
		</div>

		<!-- signin/signout and support -->
		<div class="col-sm-3">

			<!-- user and signin/out -->
			<div class="row cmap-header-top-margin">
				<h4 class="pull-right">
			         {{#if user}}
			             <span title="signout" class="label cmap-header-signin-signout" onclick="window.location.href = 'http://apps.lincscloud.org/signout';">Sign Out</span>
			         {{else}}
			             <span title="signin" class="label cmap-header-signin-signout" onclick="window.location.href = 'http://apps.lincscloud.org/signin';">Sign In</span>
			         {{/if}}
			     </h4>
			     {{#if user}}
			         <p class="cmap-header-username pull-right">{{ user }} </p>
			     {{/if}}
			</div>
		</div>
	</div>


	<!-- small screens -->
	<div class="row visible-xs">
	                         <div class="col-xs-offset-1 col-xs-10">
	                             <p class="col-xs-12 cmap-center-text cmap-header-username">
	                                 {{#if user}}
	                                     {{ user }}
	                                 {{/if}}
	                                 <i title="Home" class="fa fa-home cmap-header-link" onclick="window.location.href = 'http://lincscloud.org';"></i>
	                                 <i title="Apps" class="fa fa-th-large cmap-header-link" onclick="window.location.href = 'http://apps.lincscloud.org/app_list';"></i>
	                                 <i title="Developer" class="fa fa-cogs cmap-header-link" onclick="window.location.href = 'http://developer.lincscloud.org/';"></i>
									 <i title="Projects" class="fa fa-book cmap-header-link" onclick="window.location.href = 'http://projects.lincscloud.org/';"></i>
	                                 <i title="Support" class="fa fa-question-circle cmap-header-link" onclick="window.location.href = '{{ support_link }}';"></i>
	                                 <!-- <i data-toggle="modal" href="#aboutModal" title="about" class="fa fa-info-circle cmap-header-link"></i> -->
	                                 {{#if user}}
	                                     <i title="signout" class="fa fa-sign-out cmap-header-link" onclick="window.location.href = 'http://apps.lincscloud.org/signout';"></i>
	                                 {{else}}
	                                     <i title="signin" class="fa fa-sign-in cmap-header-link" onclick="window.location.href = 'http://apps.lincscloud.org/signin';"></i>
	                                 {{/if}}
	                             </p>
	                         </div>

		<div class="row">
		    <h3 class="col-sm-offset-1 col-sm-10 cmap-title-text cmap-center-text">{{ title }}</h3>
		</div>
		<div class="row">
			<p class="col-sm-offset-1 col-sm-10 text-muted cmap-subhead-text cmap-center-text">{{ subtitle }}</p>
		</div>
	</div>
</div>
