<div class="cmap-header">

	<!-- large screens -->
	<div class="row hidden-xs">
		<div class="row">
			<div class="col-sm-12 cmap-header-toolbar">
				<div class="col-xs-1">
					<p id="cmapHeaderMenuButton" title="menu" class="cmap-header-link-no-border pull-left">menu</p>
				</div>
				<div class="col-xs-2">
					<a href="//lincscloud.org/"><img class="cmap-header-image" src="//cmap.github.io/cdn/img/logos/linscloud_logo_RGB_small-cloud-web.png"></a>
				</div>
				<div class="col-xs-9">
					{{#if user}}
						<p title="signout" class="cmap-header-link pull-right" onclick="window.location.href = '/signout';">logout</p>
						<p title="profile" class="cmap-header-username pull-right">{{user}}</p>
					{{else}}
						<p title="signout" class="cmap-header-link pull-right" onclick="window.location.href = '/start';">login</p>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="row">
			<h3 class="col-sm-offset-1 col-sm-10 cmap-title-text cmap-center-text">{{ title }}</h3>
		</div>
		<div class="row">
			<p class="col-sm-offset-1 col-sm-10 text-muted cmap-subhead-text cmap-center-text">{{ subtitle }}</p>
		</div>
	</div>


	<!-- small screens -->
	<div class="row visible-xs">
		<div class="row">
		    <h3 class="col-sm-offset-1 col-sm-10 cmap-title-text cmap-center-text">{{ title }}</h3>
		</div>
		<div class="row">
			<p class="col-sm-offset-1 col-sm-10 text-muted cmap-subhead-text cmap-center-text">{{ subtitle }}</p>
		</div>
	</div>
</div>
